[Unit]
Description=Record Timelapse-Images
Conflicts=timelapse-record-adaptive.service

[Service]
ExecStart=/opt/timelapse/record.sh
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
